:root {
  --pale_blue: hsl(225, 100%, 94%);
  --very_pale_blue: #f5f7ff;
  --bright_blue: #3829e0;
  --desaturated_blue: hsl(224, 23%, 55%);
  --dark_blue: hsl(223, 47%, 23%);
}

h1,
p,
a,
span {
  font-family: 'Red Hat Display', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.4rem;
}

p {
  font-size: 0.95rem;
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  color: hsl(0, 0%, 50%);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pale_blue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  max-width: 26rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 30px rgb(221, 220, 220);
  
}

.img-hero {
  border-radius: 1rem 1rem 0 0;
}

.inner-wrapper {
  height: 100%;
  padding: 2rem 3rem;
}

.subscription {
  display: flex;
  align-items: center;
  background-color: var(--very_pale_blue);
  width: 100%;
  border-radius: 0.625rem; 
  margin-top: 1.3rem; 
  padding: 1.25rem;
}

.subscription img {
  margin-right: 1rem;
}

.subscription .annual-plan {
  font-weight: 900;
  font-size: 0.9rem;
  line-height: 1.6;
}

.subscription .price {
  font-weight: 500;
  font-size: 0.9rem;
  color: hsl(0, 0%, 50%);
}

.subscription a {
  margin-left: auto;
  font-size: 0.9rem;
  color: var(--bright_blue);
  font-weight: 700;
}

.subscription a:hover {
  text-decoration: none;
}
  
.payment-button {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--bright_blue);
  border-radius: 0.625rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 1.5rem;
  box-shadow: 1px 8px 30px #3829e089;
}

.payment-button:hover {
  background-color: #6436e4;
  box-shadow: 1px 8px 30px ##5a29e089;
}

.cancel-button {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.625rem;
  text-decoration: none;
  color: hsl(0, 0%, 50%);
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

.cancel-button:hover {
  color: hsl(0, 0%, 25%);
}


@media only screen and (max-width: 446px) {
  .card {
    width: 340px;
  }

  .inner-wrapper {
    /* background-color: #3829e0; */
    padding: 2rem;
  }

  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }
}

